/* Accessing Body */
body
{
    background-color: #212121;
}

/* Accessing Head 1 */
h1
{
    color: #919191;
}

/* Accessing Paragraph  */
p
{
    color: blueviolet;
}

/* Accessing id 'Heading 1' */
#Heading_1
{
    color: red;
}

/* Accessing id 'Heading 6' */
#Heading_6
{
    color: yellow;
}

/* Accessing id 'Test' */
#Test
{
    color: green;
}

/* Accessing class 'Demo' */
.Demo
{
    color: cyan;
}

.img_container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Video
{
    display: flex;
    align-items: center;
    justify-content: center;
}